NEXT_PUBLIC_DOMAIN_2="https://yousufricemills.com"
NEXT_PUBLIC_DOMAIN_3="https://ssricemills.com"
NEXT_PUBLIC_PRIMARY_DOMAIN="https://yousufrice.com"
META_ACCESS_TOKEN="some token"
APPWRITE_API_KEY="some key"
NEXT_PUBLIC_APPWRITE_ADDRESSES_TABLE_ID="68ee0a6500390bee2a71"
NEXT_PUBLIC_APPWRITE_PRODUCT_IMAGES_TABLE_ID="68ee0a6000183542058b"
NEXT_PUBLIC_META_DATASET_ID="670649284858503"
NEXT_PUBLIC_APPWRITE_STORAGE_BUCKET_ID="product-images"
NEXT_PUBLIC_BANNER_STORAGE_BUCKET_ID="68f1dbf20008177d3acb"
NEXT_PUBLIC_APPWRITE_PRODUCTS_TABLE_ID="68ee0a5f00025a74262a"
NEXT_PUBLIC_APPWRITE_DATABASE_ID="68ee0a5c0008c5158119"
NEXT_PUBLIC_APPWRITE_CUSTOMERS_TABLE_ID="68ee0a620033781a6f3a"
NEXT_PUBLIC_APPWRITE_ORDERS_TABLE_ID="68ee0a64001bd2ca45c7"
NEXT_PUBLIC_APPWRITE_ENDPOINT="https://syd.cloud.appwrite.io/v1"
NEXT_PUBLIC_APPWRITE_PROJECT_ID="68cb65a4000ab2fec182"
NEXT_PUBLIC_META_TEST_EVENT_CODE="TEST99914"
SMTP_PASSWORD="~T1eZlYG]]"
OPENAI_API_KEY="some key"